html {
  font-family: Bevan, cursive;
  line-height: 1.5;
  color: #fff;
  background-color: #dbd6cf;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  border: 2px solid #595652;
}

header {
  padding: 0;
}

h1 {
  margin: 0;
  text-align: center;
  background-color: #79756f;
  font-family: Georgia, sans-serif;
}

.nav {
  margin: 0;
  list-style-type: none;
  padding: 0;
  text-align: center;
  background-color: #79756f;
  font-family: sans-serif;
}

.nav li {
  display: inline-block;
}

.nav a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #713837;
  border-radius: 4px;
  margin: .3em;
}

.nav a:hover {
  background-color: #f33;
}
